*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url('./pexels-alesia-kozik-6764224.jpg')
    no-repeat center center/cover;
}
#form .form label{
    display: block;
    margin-top: 10px;
    color: rgb(75, 69, 69);
}
#form .form .com{
width: 50%;
float: left;
}
#form{
    margin:60px auto;
    background-color: white;
    width: 700px;
    height: 450px;
    padding: 20px 20px;
    border-radius: 10px;
}
#form .form input{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px rgb(158, 158, 158)  ;
    border-style: solid;
    border-radius: 5px;
}
#form h1{
    text-align: center;
    color: rgb(71, 68, 68);
}
#form .btn{
    display: block;
    background-color:rgb(255, 217, 0);
    border: 1px rgb(156, 133, 3) solid;
    width: 100%;
    padding: 10px 10px;
}
#form .btn a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}